body{
    font-family:'JetBrains Mono', monospace;
    text-align: center;
    background: linear-gradient(204deg, #a27ef7, #6d33f5, #341975, #513a6b, #6c71b2);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 44s ease infinite;
    -moz-animation: AnimationName 44s ease infinite;
    -o-animation: AnimationName 44s ease infinite;
    animation: AnimationName 44s ease infinite;
;
}

h1,h2{
    text-decoration-line: underline;
    color:#fff;
}
.box-1{
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.btn-neon{
    display:block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 1s;
    border-radius: 5px;
    margin-left: 110px;
    margin-right: 110px;
}
.btn-neon:hover{
    background: #5f45c7;
    box-shadow: 0 0 10px #6845c7, 0 0 10px #6845c7, 0 0 20px #6845c7;
    transition-delay: 0.1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}





@-webkit-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
